*{
    margin:0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    color: black;
    background: linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    background-repeat:no-repeat;
    justify-content: center;
}
header{
    text-align: center;
}
img{
 height:30rem;
 width: 30rem;
 border-radius: 5rem;
object-fit: cover;
}