*{
    margin:0;
padding: 0;
box-sizing: border-box;
}
body{
    color: black;
    background: linear-gradient(blue,white);
}
header{background-color: aquamarine;
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    border: 3px solid #eb1d1d;
    padding: 12px 25px;
    border-radius: 20px;
    background-color: #ff5858;
    text-align: center;
    display: flex;
}